@model IEnumerable<UserViewModel>

@{ ViewData["Title"] = "Users"; }
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Users</h1>
</div>

<a asp-action="Add" class="btn btn-primary">Add New</a>

<table class="table table-striped mt-4">
    <thead>
        <tr class="bg-primary text-white">
            <th>User Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
<tr>
    <td>@user.UserName</td>
    <td>@user.Email</td>
   <td>@string.Join(" , ", user.NameRoles.ToList())</td>
    <td>
        <a class="btn btn-primary" asp-controller="Users" asp-action="Update" asp-route-userId="@user.Id">Update</a>
        <a href="javascript:;" class="btn btn-danger js-Delete" data-id="@user.Id">Delete</a>
    </td>
</tr>}
    </tbody>
</table>